.chatrooms{ data: { controller: "chatrooms" }, style: "background-image: url('#{ image_url('fondo_chatrooms_index.jpg') }');"}
  .chatrooms__container
    - @chatrooms.each do |chatroom|
      .chatrooms__chatroom-item 
        = link_to chatroom_chatroom_user_path(chatroom), method: :post, class: 'chatrooms__chatroom-container' do
          .chatrooms__chatroom-name 
            = chatroom.name
          .chatrooms__chatroom-count 
            = "#{chatroom.users.length} usuarios" 
        - if current_user.admin?
          .chatrooms__chatroom-admin 
            = link_to edit_chatroom_path(chatroom), class: "chatrooms__chatroom-icon" do 
              %i.fas.fa-edit
            = link_to chatroom, method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar esta sala?' }, class: "chatrooms__chatroom-icon" do
              %i.fas.fa-trash-alt
